<div style="padding-bottom: 30px">
  <div style="width: 100%;display:flex;flex-direction: column;justify-content: center;align-items: center;">
    <div style="width: 1440px;height: 150px;">
      <img src="../../../assets/operation/operation_02.jpg" alt="">
    </div>
    <div class="animated bounceIn" style="width: 212px;height: 66px;padding-left: 40px;margin-top: 35px;border-bottom: 2px solid #4DC0E8;
    border-top: 2px solid #4DC0E8;line-height: 66px;font-size: 30px;letter-spacing: 4px;color: #4DC0E8">招商加盟
    </div>
    <p class="animated bounceIn" style="width: 212px;text-align: center;margin-top: 5px;margin-bottom: 30px;color: #4DC0E8">CONTACT US</p>
  </div>
</div>
<p>随着消费升级，自来水已经逐渐无法满足高端社区用户的用水需求，纯净水又有着不能长期饮用的特点。一次性大包装用水，正是未来社区用水的核心。优水到家正是因此而生。</p>
<div style="display: flex;justify-content: center;flex-wrap: wrap">
  <img src="../../../assets/first/1.png" alt="" class="attract-img">
  <img src="../../../assets/first/2.png" alt="" class="attract-img">
  <img src="../../../assets/first/3.png" alt="" class="attract-img">
  <img src="../../../assets/first/4.png" alt="" class="attract-img">
</div>
<p>优水到家，始于水，却不止于水，油、米、牛奶、农产品形形色色你想在社区售卖的商品。都可以通过优水到家，实现应用。</p>
<p>没有琐碎且昂贵的店铺租金、转让费、装修费等等一系列投入费用，一台机器就能满足你对社区的所有商业模式的想像。</p>
<div style="display: flex;justify-content: center;flex-wrap: wrap">
  <img src="../../../assets/first/5.png" alt="" class="attract-img">
  <img src="../../../assets/first/6.png" alt="" class="attract-img">
  <img src="../../../assets/first/7.png" alt="" class="attract-img">
  <img src="../../../assets/first/8.png" alt="" class="attract-img">
</div>
<p>优水到家，现向全国范围寻找加盟伙伴！</p>
<p>我们无比专业，独立研发团队，从研发到生产，全程技术保障！</p>
<p>我们经验丰富，已有3000台自营设备，手把手教你赚钱！</p>
<p>我们诚意十足，最低的价格，最多的让利，让您实打实的盈利！</p>
<p>优水到家，欢迎您的加盟！</p>
<p>来电咨询：李先生 18148762101</p>
<p>400电话: 400-885-8203</p>
