* {
  margin:0;
  padding:0;
}
.content {
  display: inline;
}
.more{
  width: 191px;
  margin: 20px auto;
}
.animated {
  animate-duration: 4s; //动画持续时间
  animate-delay: 4s;
}
p{
  margin-left: 2%;
  color: #666666;
  padding: 10px;
}
.attract-img{
  width: 23%;
  margin-right: 10px;
}
@media all and (max-width: 620px){
  .attract-img{
    width: 99%;
    margin-bottom: 10px;
  }
}
