* {
  margin:0;
  padding:0;
}

@media all and (min-width: 561px) {
  .content{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 100%;
  }
  .co_exhibition {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .co_exhibition img{
    width: 100%;
    height: auto;
  }
  .co_title{
    width: 212px;
    height: 66px;
    margin: 15px auto;
    border-bottom: 2px solid #4DC0E8;
    border-top: 2px solid #4DC0E8;
    line-height: 66px;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    color: #4DC0E8
  }
  .engTitle{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #4DC0E8
  }
  .co_text{
    //background-color: #fcfcfc;
    text-indent: 2em;
    font-size: 1.25em;
    font-family: "Microsoft YaHei",Arial;
    text-align: left;
    letter-spacing: 2px;
  }
  .co_text p{
    width: 80%;
    margin: 0 auto;
    line-height: 2em;
    padding-bottom: 2em;
  }
  .co_list{
    width: 100%;
    max-width: 1440px;
    //background-color: #fcfcfc;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .list_row{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .list_row img{
    display: inline-block;
    width: 80%;
    max-width: 300px;
    height: 200px;
    //margin-left: 4%;
    margin-top: 2%;
  }

  .co_list img:hover{
    //box-shadow: 8px 8px 5px #bab9b9;
    //-moz-box-shadow: 8px 8px 5px #bab9b9;
    //-webkit-box-shadow: 8px 8px 5px #bab9b9;
  }
}

@media all and (max-width: 560px){
  .content{
    width: 100%;
    margin: 0 auto;
  }
  .co_exhibition{
    width: 100%;
    height: auto;
  }
  .co_exhibition img{
    width: 100%;
    height: auto;
  }
  .co_title{
    width: 100px;
    margin: 10px auto;
    border-bottom: 2px solid #4DC0E8;
    border-top: 2px solid #4DC0E8;
    color: #4DC0E8;
    text-align: center;
  }
  .engTitle{
    width: 120px;
    margin: 5px auto;
    color: #4DC0E8;
    text-align: center;
    font-size: 16px;
  }
  .co_text{
    width: 100%;
    background-color: #fcfcfc;
    text-indent: 2em;
    padding: 25px 10px;
  }
  .co_list img{
    display: block;
    margin: 15px auto;
    width: 100%;
    height: auto;
    max-width: 280px;
  }
}
.animated {
  animate-duration: 4s; //动画持续时间
  animate-delay: 4s;
}

