<div>
  <div class="content">
    <div class="co_exhibition">
      <img src="../../assets/cooperation/cooperation_1.jpg" alt="">
    </div>
    <!--<div class="co_business">-->
      <!--<p>合作伙伴</p>-->
    <!--</div>-->
    <div class="animated bounceIn" style="width: 212px;height: 66px;margin-left:43%;margin-top: 30px;border-bottom: 2px solid #4DC0E8;
    border-top: 2px solid #4DC0E8;line-height: 66px;font-size: 30px;letter-spacing: 4px;text-align: center;color: #4DC0E8">
      合作伙伴
    </div>
    <p class="animated bounceIn" style="text-align: center;margin-top: 5px;margin-bottom: 10px;color: #4DC0E8">COOPERATION</p>
    <div class="co_text">
      <p>我们相信，优秀的合作伙伴是未来取得成功的关键。不管您是优秀水源提供商、自助售卖行业领先者、
        分销商或者其他类型的提供商，我们都乐意与您合作，为我们的客户提供不断完善的自助饮用水的解决方案。
        以下是目前与我们有常规性合作的企业。</p>
    </div>
    <div class="co_list">
      <div class="list_row">
        <img src="../../assets/cooperation/cooperation_2.jpg" alt="">
        <img src="../../assets/cooperation/cooperation_3.jpg" alt="">
        <img src="../../assets/cooperation/cooperation_4.jpg" alt="">
        <img src="../../assets/cooperation/cooperation_5.jpg" alt="">
        <img src="../../assets/cooperation/cooperation_6.jpg" alt="">
        <img src="../../assets/cooperation/cooperation_7.jpg" alt="">
      </div>
    </div>
    <div style="height: 100px">
    </div>
  </div>
</div>
