* {
  margin:0;
  padding:0;
}
.content{
  width: 1440px;
  margin: 0 auto;
}
.co_exhibition {
  width: 1440px;
  height: 150px;
  margin: 0 auto;
}
.co_exhibition img{
  width: 100%;
  height: 100%;
}
.co_business{
  width: 1440px;
  height: 140px;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.co_business p{
  font-size: 28px;
  font-family: "Microsoft YaHei";
  color: #05b3ff;
  padding: 15px 90px;
  border-bottom: 3px solid #05b3ff;
  border-top: 3px solid #05b3ff;
}
.co_text{
  height: 140px;
  background-color: #fcfcfc;
  text-indent: 2em;
  padding-left: 140px;
  padding-right: 120px;
  padding-top: 40px;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  text-align: left;
  letter-spacing: 2px;
}
.co_text p{
  line-height: 35px;
}
.co_list{
  width: 1440px;
  background-color: #fcfcfc;
  margin: 0 auto;
}
.list_row1 img,.list_row2 img{
  display: inline-block;
  margin: 0 60px;
}
.list_row1{
  margin-bottom: 34px;
}
.list_row2{
  padding-bottom: 120px;
}
.co_list img:hover{
  box-shadow: 8px 8px 5px #bab9b9;
  -moz-box-shadow: 8px 8px 5px #bab9b9;
  -webkit-box-shadow: 8px 8px 5px #bab9b9;
}




