
.admin-backgroup {
    font-family:"微软雅黑";
    //background-color: $topnav-background-color;
    height: 100%;
    width: 100%;
}
.header-backgroup {
  position:fixed;
  top:0;
  left:0;
  z-index:1100;
  font-family:'微软雅黑';
  height: 100px;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #F8F8F8;
  //border-top:0.5px solid red;
}
.content-backgroup{
  width: 100%;
  margin-top: 100px;
  //margin: 800px 0 50px 0;
}
.container{
  width: 1440px;
  margin: 0px auto;
}
.slider{
  width: 100%;
}
.bottom-backgroup {
  background-color: #4cc0e7;
  font-family:"微软雅黑";
  width: 100%;
}
.hiddened{
  background-color: #444444;
  //visibility: hidden;
}
.showed{
  visibility: visible;
}
@media screen and (max-width: 984px) {
  .bottom-backgroup {
    background-color: #ffffff;
    font-family:"微软雅黑";
    position:absolute;
    left:0;
    width: 984px;
  }
}
