<div class="containers">
  <div class="aboutUsImg">
    <img src="../../../assets/productIntroduce/banner_productIntroduce.png" alt="">
  </div>
  <div class="product-title animated bounceIn">
    <h2>产品介绍</h2>
  </div>
  <p class="animated bounceIn engTitle">PRODUCT PRESENTATION</p>
  <div class="product-content">
    <div class="product_row">
      <div class="row_left">
        <span class="item_title">农夫山泉</span>
        <div class="row_wrapper">
          <div class="item_left">
            <img src="../../../assets/productIntroduce/1.png" alt="">
          </div>
          <div class="item_right">
            <p class="item_p1">农夫山泉-天然的弱碱性水</p>
            <p class="item_p2">净含量：5L</p>
            <p class="item_p3">农夫山泉选取天然的优质水源，仅对原水做最小限度的、必要的处理，保存了原水中钾、钠、钙、镁、
              偏硅酸等对人体有益 的矿物元素，PH值为7.3&plusmn;0.5，呈天然弱碱性，适于人体长期引用。</p>
          </div>
        </div>
      </div>
      <div class="row_right">
        <span class="item_title">怡宝</span>
        <div class="row_wrapper">
          <div class="item_left">
            <img src="../../../assets/productIntroduce/2.png" alt="">
          </div>
          <div class="item_right">
            <p class="item_p1">怡宝："心纯净，行至美"</p>
            <p class="item_p2">净含量：4.5L</p>
            <p class="item_p3">怡宝纯净水，中国饮用水市场的领先品牌,用30年的专业经验保证产品的安全和纯净,
              确保每一滴水水质纯净，怡宝是饮用水至纯净的倡导者及执行者，更是呼吁人们内心纯净的先行者，以
              "心纯净、行至美"的品牌主张，引导社会价值。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product_row">
      <div class="row_left">
        <span class="item_title">哇哈哈</span>
        <div class="row_wrapper">
          <div class="item_left">
            <img src="../../../assets/productIntroduce/3.png" alt="">
          </div>
          <div class="item_right">
            <p class="item_p1">哇哈哈-纯净&nbsp;透明&nbsp;自在</p>
            <p class="item_p2">净含量：4.5L</p>
            <p class="item_p3">哇哈哈纯净水，采用尖端反渗透水处理技术，将水中的杂质及有害金属严格去除，
              水质清纯，不含任何有害物质和细菌，有效的避免了各类病菌入侵人体，水质纯净更甘甜爽口。</p>
          </div>
        </div>
      </div>
      <div class="row_right">
        <span class="item_title">屈臣氏</span>
        <div class="row_wrapper">
          <div class="item_left">
            <img src="../../../assets/productIntroduce/4.png" alt="">
          </div>
          <div class="item_right">
            <p class="item_p1">屈臣氏-105&#8451;高温蒸馏&nbsp;至清至纯</p>
            <p class="item_p2">净含量：4.5L</p>
            <p class="item_p3">屈臣氏蒸馏水的制水过程采用先进的蒸馏技术，包括多层过滤，再以摄氏105&#8451;高温蒸馏。
              在过滤及蒸馏过程中，所有杂质及细菌均被消除，滴滴清纯。更在清纯的蒸馏水中加入钙、镁及钾等矿物质，
              迎合不同顾客的口味，绝不含钠。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product_row">
      <div class="row_left">
        <span class="item_title">景田</span>
        <div class="row_wrapper">
          <div class="item_left">
            <img src="../../../assets/productIntroduce/5.png" alt="">
          </div>
          <div class="item_right">
            <p class="item_p1">景田-矿泉水&nbsp;水中臻品</p>
            <p class="item_p2">净含量：4.5L</p>
            <p class="item_p3">每一瓶百岁山&reg;天然饮用矿泉水采自地底, 有益元素多样，适合每天饮用。
              地层深处的花岗岩裂隙水井，通过丰水期及枯水期国家机构化验、环境和自然灾害评估等考核，符合国家标准。</p>
          </div>
        </div>
      </div>
      <div class="row_right">
        <span class="item_title">五桂山</span>
        <div class="row_wrapper">
          <div class="item_left">
            <img src="../../../assets/productIntroduce/6.png" alt="">
          </div>
          <div class="item_right">
            <p class="item_p1">五桂山-构造裂痕水</p>
            <p class="item_p2">净含量：9L</p>
            <p class="item_p3">五桂山矿泉水赋存于燕山三期中粒黑云母花岗岩裂隙中的块状岩类裂隙水，属构造裂隙水，
              水中偏硅酸含量为37.56-39.53毫克/升，水温为23.8-24.0摄氏度，达到国家饮用天然矿泉水标准;为低钠低矿化
              度重碳酸钠钙型偏硅酸矿泉水。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product_row">
      <div class="row_left">
        <span class="item_title">鼎湖山泉</span>
        <div class="row_wrapper">
          <div class="item_left">
            <img src="../../../assets/productIntroduce/7.png" alt="">
          </div>
          <div class="item_right">
            <p class="item_p1">鼎湖山泉-天然矿泉水</p>
            <p class="item_p2">净含量：4.5L</p>
            <p class="item_p3">天然山泉水--水源来自联合国自然资源保护区--鼎湖山，水质天然无污染，口感清甜甘冽。
              公司独创国家发明专利“自然密滤”天然山泉水处理技术，既能去掉山泉水中非有益物质，又能保留有益成分，
              经常饮用有益健康。尤其适合老人、孕妇、儿童长期饮用。</p>
          </div>
        </div>
      </div>
      <div class="row_right">
        <span class="item_title">恒大冰泉</span>
        <div class="row_wrapper">
          <div class="item_left">
            <img src="../../../assets/productIntroduce/8.png" alt="">
          </div>
          <div class="item_right">
            <p class="item_p1">恒大冰泉-软硬适中&nbsp;均衡好水</p>
            <p class="item_p2">净含量：4L</p>
            <p class="item_p3">恒大冰泉总硬度为25-100，软硬适中，矿物元素均衡，口感清爽甘甜；用恒大冰泉煮饭、
              煲汤或泡茶，能帮助食材中的营养物质析出，水与食材相得益彰，喝茶甘醇、做饭更香。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
