<div style="padding-bottom: 30px">
  <div style="width: 100%;display:flex;flex-direction: column;justify-content: center;align-items: center;">
    <div style="width: 1440px;height: 150px;background:antiquewhite;">
      <img src="../../../assets/operation/operation_02.jpg" alt="">
    </div>
    <div style="width: 212px;height: 66px;padding-left: 70px;margin-top: 80px;border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;line-height: 66px;font-size: 30px;letter-spacing: 4px">联系我们</div>
    <p style="width: 212px;text-align: center;margin-top: 20px;margin-bottom: 30px">Contact Us</p>
  </div>
  <div style="text-align: center;margin-bottom: 20px">
    <img style="width: 850px;height: 300px;" src="../../../assets/about/123.png" alt="">
  </div>
  <p style="text-align: center">竭尽自己最大的努力为您服务是我们的一直坚守的原则，如您有任何问题需要我们协助，请通过下述方式联系我们：</p>
  <div style="width: 100%;display:flex;justify-content: center;align-items: center;margin-top: 50px">
    <div style="margin-right: 50px">
      <p style="margin-top: 20px">如您购买的产品需要服务，请拨打我们的售后中心</p>
      <p style="font-size: 14px;margin-top: 20px">电话: 020-89850917</p>
      <p style="font-size: 14px;margin-top: 20px">400电话: 400-885-8203</p>
      <p style="font-size: 14px;margin-top: 20px">广州市黄埔区开发区开源大道11号B10栋4层</p>
      <p style="font-size: 14px;margin-top: 20px">market@youshuidaojia.com</p>
    </div>
    <div style="margin-left: 40px">
      <p style="margin-top: 20px">如您更有好的想法需要与我们沟通，请联系市场中心</p>
      <p style="font-size: 14px;margin-top: 20px">电话: 020-89850917</p>
      <p style="font-size: 14px;margin-top: 20px">400电话: 400-885-8203</p>
      <p style="font-size: 14px;margin-top: 20px">广州市黄埔区开发区开源大道11号B10栋4层</p>
      <p style="font-size: 14px;margin-top: 20px">market@youshuidaojia.com</p>
    </div>
  </div>
</div>



<!--<div class="contact-text">-->
  <!--<ul style="margin-left: -30px">-->
    <!--<li style="list-style:none; margin-top: 15px; float: left">优水到家有限公司</li>-->
    <!--<li style="list-style:none; margin-top: 15px; float: left">公司地址:广州市黄埔区开源大道11号B10栋4屋</li>-->
    <!--<li style="list-style:none; margin-top: 15px; float: left">客服热线: 0757-29293983</li>-->
    <!--<li style="list-style:none; margin-top: 15px; float: left">E-MAIL: HLB8@HELENBO.COM</li>-->
    <!--<li style="list-style:none; margin-top: 15px; float: left">传真: 0757-29293991</li>-->
  <!--</ul>-->
<!--</div>-->
