<div [@routerTransition]>
  <div style="width: 100%;height: 60px;padding-top: 18px;background: #A6DFF3">
    <div style="width: 100%;max-width: 1400px;margin: auto;background: #A6DFF3">
      <div class="span_back" (click)="back()" style="color: white;float: left;">< 返回</div> <div style="padding-left: 1%;color: white;float: left;">您的位置: 网站首页 > 咨询中心 > {{articletitle}}</div>
    </div>
  </div>
  <div class="cont">
    <div style="display: flex;flex-direction: column;align-items:center;border: solid 2px #dadada;padding: 20px">
      <div style="color: #333333;margin-bottom: 10px;text-align: center;line-height: 32px;font-size: 26px;">{{articletitle}}</div>
      <div style="width: 112px;height: 17px;line-height: 17px;color: #666666;margin-bottom: 10px;">{{articleDate}}</div>
      <div id="articleCont" style="max-width: 1340px;color: #333333;margin-bottom: 10px;line-height:3;"></div>
      <div style="margin-bottom: 10px;">
        <img [src]=articleImg style="width: 100%;height: auto">
      </div>
      <img src="../../../assets/newcenter/end.jpg" alt="" width="70">
    </div>
  </div>
</div>
