<div [@routerTransition]>
  <div class="cont">
    <div style="display: flex;flex-direction: column;align-items:center;">
      <div style="color: #333333;margin-bottom: 10px;text-align: center;line-height: 32px;font-size: 26px;">{{articletitle}}</div>
      <div style="width: 112px;height: 17px;line-height: 17px;color: #666666;margin-bottom: 10px;">{{articleDate}}</div>
      <div style="max-width: 1181px;color: #333333;margin-bottom: 10px;line-height:3;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{articleCont}}
      </div>
      <div style="background: aquamarine;margin-bottom: 10px;">
        <img [src]=articleImg style="width: 100%;height: auto">
      </div>
    </div>
  </div>
</div>
