
* {
  margin:0;
  padding:0;
}
.container{
  width: 1440px;
  margin: 0px auto;
}
.aboutUsImg {
  width: 100%;
}
.aboutUsImg img{
  display: block;
  width: 100%;
}
.product-title{
  width: 150px;
  height: 40px;
  margin: 30px auto;
  line-height: 40px;
  text-align: center;
  border-bottom: #05b3ff 1px solid;
  border-top: #05b3ff 1px solid;
}
.product-title h2 {
  color: #05b3ff !important;
}
.product-content{
  width: 85%;
  margin: 0px auto;
  padding: 20px 0px;
  height: 100%;
  display: table;
}
.product-content img{
  display: block;
  width: 500px;
}
p{
  text-indent: 28px;
  line-height: 30px;
  color: #333333;
  font-size: 14px;
}
h4{
  margin: 10px 0px;
}
.left{
  float: left;
  width: 50%;
}
.right{
  float: right;
  width: 45%;
}
.second {
  padding-top: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.three{
  padding-top: 60px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.clear-fix{
  clear: both;
}
@media screen and (max-width: 1439px) {
  .container{
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .container{
    width: 100%;
  }
  .product-content img{
    display: block;
    width: 100%;
  }
  .first{
    padding-top: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;;
  }
  .second {
    padding-top: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .three{
    padding-top: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
@media screen and (max-width: 899px) {
  .container {
    width: 100%;
  }
  .left {
    float: left;
    width: 100%;
  }
  .right {
    float: right;
    width: 100%;
  }
  .product-content img {
    display: block;
    width: 500px;
  }
  .first {
    padding-top: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .second {
    padding-top: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .three {
    padding-top: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .container{
    width: 100%;
  }
  .left {
    float: left;
    width: 100%;
  }
  .right{
    float: right;
    width: 100%;
  }
  .product-content img{
    display: block;
    width: 100%;
  }
  .first{
    padding-top: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .second {
    padding-top: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .three{
    padding-top: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
@media screen and (max-width: 499px) {
  .container{
    width: 100%;
  }
  .product-content img{
    display: block;
    width: 100%;
  }
  .left {
    float: left;
    width: 100%;
  }
  .right{
    float: right;
    width: 100%;
  }
  .first{
    padding-top: 0px;
  }
  .second {
    padding-top: 0px;
  }
  .three{
    padding-top: 0px;
  }
}
