<div class="containers">
  <div class="aboutUsImg">
    <img src="../../../assets/product/product-01.jpg" alt="">
  </div>
  <div class="product-title animated bounceIn">
    <h2>关于我们</h2>
  </div>
  <p style="text-align: center;margin-bottom: 10px;color: #4DC0E8;font-size: 20px;padding-right: 30px">ABOUT US</p>
  <div class="product-content">
    <div class="left first">
      <img src="../../../assets/product/product-02.jpg" alt="">
    </div>
    <div class="right animated bounceInRight" style="background: #4dc0e8;">
      <article>
        <p style="color: #ffffff;padding: 10px">广州优水到家工程网络科技有限公司成立于2017年10月，总部位于国家重点科技园区——广州开发区科技企业加速器。
          广州优水到家工程网络科技（简称：优水到家），在追求当今完美品质的健康用水生活，并将这种健康的水生活体验带给用户。
          健康用水作为当前最重要的民生工程之一，优水到家专注于促使改善居民的饮用水增量提质，同时力求让广大人民群众喝上“放心水”“优质水”，
          实现中国家庭优质饮用水社区智能水站的经营理念。
        </p>
        <p style="color: #ffffff;padding: 10px">我们致力于帮助用户解决家庭用水问题，并给用户带来一种低碳、高效、健康的水生活。与以往的传统桶装水模式不同，
          我们开创了国内大包装水自助售卖机模式，解决了桶装水送水不及时，押金贵，套餐贵的问题，并以实惠的价格便利的服务，
          实现下楼即可全天候24小时的便利购买。在充分考虑用户体验的前提下，确保了客户在购水过程中得到“便利、舒适、安全”的体验感。
        </p>
      </article>
    </div>
    <div class="clear-fix"></div>
  </div>
  <div class="product-content">
    <div class="right second">
      <img src="../../../assets/product/product-03.jpg" alt="">
    </div>
    <div class="left animated bounceInLeft" style="background: #f3f3f3;">
      <article>
        <h4 style="color: #333333;padding: 10px">
          我们提供多种健康的用水生活
        </h4>
        <p style="color: #666666;padding: 10px">
          广州优水到家工程网络科技有限公司是一家重视用户体验与饮水健康的企业。
          所以我们在生产及运营过程中，在充分考虑“可持续发展”的前提下，确保了用户在购水过程中得到“便利、舒适、安全”的体验感。
        </p>
      </article>
      <article>
        <h4 style="color: #333333;padding: 10px">
          我们承诺
        </h4>
        <p style="color: #666666;padding: 10px">
          供品均为优质，真诚地对待每一位客户。我们倾听客户的声音，全力满足客户需求，协助他们攻破难题。这一承诺不仅对我们的客户有效，
          用户、分销商、供应商、员工，以及我们工作和生活的社区也是我们的承诺对象。我们提供：
        </p>
        <p style="color: #666666">
          高级定制的饮用水自动贩卖解决方案;
        </p>
        <p style="color: #666666">
          丰富完善的产品销售解决方案;
        </p>
        <p style="color: #666666">
          深钻多年的专业技术;
        </p>
        <p style="color: #666666;padding-bottom: 10px">
          毫不妥协的执行标准.
        </p>
      </article>
    </div>
    <div class="clear-fix"></div>
  </div>
  <div class="product-content">
    <div class="left three">
      <img src="../../../assets/product/product-04.jpg" alt="">
    </div>
    <div class="right animated bounceInRight" style="background: #4dc0e8;">
      <article>
        <h4 style="color: white;padding: 10px">
          客户关怀
        </h4>
        <p style="color: white;padding: 10px">
          我们致力于关怀每一位客户的需求。我们严格执行《客户服务规定》，在服务的每一个过程中，都让您拥有愉悦的心情。
          如果您有任何问题或者需要我们的帮助，请联系我们的客服团队。我们努力达成：
        </p>
        <p style="color: white">
          高效；
        </p>
        <p style="color: white">
          坦诚、公平、礼貌；
        </p>
        <p style="color: white">
          耐心倾听、快速响应；
        </p>
        <p style="color: white">
          提升团队的专业知识与技能。
        </p>
      </article>
      <article>
        <h4 style="color: white;padding: 10px">
          质量保证
        </h4>
        <p style="color: white;padding: 10px">
          对优质水源的不断追求是优水工程的企业精神。我们从供货源头上保证了产品达到标准，而且超乎您的期待。
        </p>
        <p style="color: white">
          严格的质量监控与物流链管理流程
        </p>
        <p style="color: white">
          热情、及时的客户反馈
        </p>
        <p style="color: white;padding-bottom: 10px">
          产品改良制度
        </p>
      </article>
    </div>
    <div class="clear-fix"></div>
  </div>
</div>
