<div class="container">
  <div class="banner">
    <ul class="banner_img">
      <li [hidden]="currentPic !== 0"><img src="../../../assets/first/banner_01.jpg"/></li>
      <li [hidden]="currentPic !== 1"><img src="../../../assets/first/banner_02.jpg"/></li>
    </ul>
    <div class="banner_btn">
      <ul>
        <li (click)="changebanner(0)"><span [class.img-active]="currentPic === 0"></span></li>
        <li (click)="changebanner(1)"><span [class.img-active]="currentPic === 1"></span></li>
        <div style="clear: both"></div>
      </ul>
    </div>
  </div>
  <div class="companyInfo">
    <div class="left">
      <img src="../../../assets/first/ours.jpg" width="600" height="300"/>
    </div>
    <div class="right">
      <div class="companyInfo_title"><h1>关于优水到家</h1></div>
      <div class="companyInfo_content">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
          致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
          组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
      </div>
      <button>查看更多>></button>
    </div>
    <div class="clear-fix"></div>
  </div>
  <div class="textImg">
    <div class="textImg_title"><h2>最新要闻</h2></div>
    <div class="textImg_content">
      <ul>
        <li>
          <img src="../../../assets/first/news_01.jpg"/>
          <h3>标题</h3>
          <span>2018-8-01</span>
          <p class="mult_line_ellipsis">广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
            致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
            组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
        </li>
        <li>
          <img src="../../../assets/first/news_02.jpg"/>
          <h3>标题</h3>
          <span>2018-8-01</span>
          <p class="mult_line_ellipsis">广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
            致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
            组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
        </li>
        <li>
          <img src="../../../assets/first/news_03.jpg"/>
          <h3>标题</h3>
          <span>2018-8-01</span>
          <p class="mult_line_ellipsis">广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
            致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
            组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
        </li>
        <div class="clear-fix"></div>
      </ul>
    </div>
    <div class="more"><button>MORE</button></div>
  </div>
  <div class="textImg">
    <div class="textImg_title"><h2>合作案例</h2></div>
    <div class="textImg_content">
      <ul>
        <li>
          <img src="../../../assets/first/cares_01.jpg"/>
          <h3>标题</h3>
          <span>2018-8-01</span>
          <p class="mult_line_ellipsis">广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
            致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
            组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
        </li>
        <li>
          <img src="../../../assets/first/cares_02.jpg"/>
          <h3>标题</h3>
          <span>2018-8-01</span>
          <p class="mult_line_ellipsis">广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
            致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
            组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
        </li>
        <li>
          <img src="../../../assets/first/cares_03.jpg"/>
          <h3>标题</h3>
          <span>2018-8-01</span>
          <p class="mult_line_ellipsis">广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
            致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
            组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
        </li>
        <div class="clear-fix"></div>
      </ul>
    </div>
    <div class="more"><button>MORE</button></div>
  </div>
</div>
