<div class="containers">
  <div class="banner">
    <ul class="banner_img">
      <li [hidden]="currentPic !== 0"><img src="../../../assets/first/banner_01.jpg"/></li>
      <li [hidden]="currentPic !== 1"><img src="../../../assets/first/banner_02.jpg"/></li>
    </ul>
    <div class="banner_btn">
      <ul>
        <li (click)="changebanner(0)"><span [class.img-active]="currentPic === 0"></span></li>
        <li (click)="changebanner(1)"><span [class.img-active]="currentPic === 1"></span></li>
        <div style="clear: both"></div>
      </ul>
    </div>
  </div>
  <div class="companyInfo" style="background: #ffffff">
    <div class="left">
      <img src="../../../assets/first/ours.jpg" />
    </div>
    <div class="right">
      <div class="companyInfo_title"><h1>关于优水到家</h1></div>
      <div class="companyInfo_content">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
          致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
          组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
      </div>
      <button (click)="toProduct()">查看更多</button>
    </div>
    <div class="clear-fix"></div>
  </div>
  <div class="textImg" style="background: #f3f3f3">
    <div class="textImg_title"><h2>最新要闻</h2></div>
    <p style="text-align: center;margin-bottom: 10px;color: #4DC0E8">THE LATEST NEWS</p>
    <div class="textImg_content">
      <ul>
        <li *ngFor="let item of articleList">
          <!--<img src="../../../assets/first/news_01.jpg"/>-->
          <img [src]="imgUrl + item.url" />
          <div style="width: 100%;border: solid 1px #dadada;">
            <h4 style="color: #4DC0E8;padding: 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 279px;">{{item.title}}</h4>
          </div>
          <!--<span>{{item.createTime}}</span>-->
          <p class="mult_line_ellipsis" style="padding: 10px;border: solid 1px #dadada">
            {{item.content}}
          </p>
        </li>
        <!--<li>
          <img src="../../../assets/first/news_02.jpg"/>
          <h3>标题</h3>
          <span>2018-8-01</span>
          <p class="mult_line_ellipsis">广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
            致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
            组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
        </li>
        <li>
          <img src="../../../assets/first/news_03.jpg"/>
          <h3>标题</h3>
          <span>2018-8-01</span>
          <p class="mult_line_ellipsis">广州市优水到家工程科技有限公司，是一家总部位于广州的科技公司，
            致力于无人零售，饮用水售卖领域，为市场提供综合性的饮用水无人售卖的解决方案。优水工程在全国多地建立起了由自营、核心代理商
            组成的销售服务网络，已完成上千个点位的无人售卖项目。</p>
        </li>-->
        <div class="clear-fix"></div>
      </ul>
    </div>
    <div class="more"><button style="margin-bottom: 10px;" [routerLink]="['../../newcenter']">查看更多</button></div>
  </div>
  <div class="textImg" style="background: #ffffff">
    <div class="textImg_title"><h2>合作案例</h2></div>
    <p style="text-align: center;margin-bottom: 10px;color: #4DC0E8">COOPERATION CASE</p>
    <div class="textImg_content">
      <ul>
        <!--<li *ngFor="let item of articleList1">-->
          <!--&lt;!&ndash;<img src="../../../assets/first/news_01.jpg"/>&ndash;&gt;-->
          <!--<img [src]="imgUrl + item.url" />-->
          <!--<h3 style="color: #0099FF">{{item.title}}</h3>-->
          <!--<span>{{item.createTime}}</span>-->
          <!--<p class="mult_line_ellipsis">-->
            <!--{{item.remark}}-->
          <!--</p>-->
        <!--</li>-->
       <li style="width: 45%;margin-left: 5%">
          <img style="width: 70%;border: solid 1px #dadada" src="../../../assets/operation/operation_05.jpg"/>
          <h3 style="color: #4DC0E8;width: 70%;border: solid 1px #dadada;padding: 10px">保利物业 — 熊猫仓</h3>
          <!--<span>2018-8-01</span>-->
          <p style="width: 70%;border: solid 1px #dadada;padding: 10px" class="mult_line_ellipsis">熊猫仓是保利物业旗下社区增值服务平台, 为社区提供生活、资产、财富等全方位增 值服务....</p>
        </li>
        <li style="width: 45%;margin-left: 5%">
          <img style="width: 70%;border: solid 1px gray" src="../../../assets/operation/operation_13.jpg"/>
          <h3 style="color: #4DC0E8;width: 70%;border: solid 1px #dadada;padding: 10px">雅居乐物业 — 雅生活</h3>
          <!--<span>2018-8-01</span>-->
          <p class="mult_line_ellipsis" style="width: 70%;border: solid 1px #dadada;padding: 10px">优水到家联合雅居乐物业，为社区住户带 去健康便利的优水生活。同时也符合为社 区生活带来....</p>
        </li>
        <div class="clear-fix"></div>
      </ul>
    </div>
    <div class="more"><button [routerLink]="['../../operation']">查看更多</button></div>
  </div>
</div>
