<div style="padding-bottom: 30px">
  <div style="width: 100%;display:flex;flex-direction: column;justify-content: center;align-items: center;">
    <!--固定图-->
    <div style="width: 1440px;height: 150px;background:antiquewhite;">
      <img src="../../../assets/newcenter/newcenter_01.jpg" alt="">
    </div>
    <!---->
    <div style="width: 212px;height: 170px;height: 66px;margin-top: 30px;border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;line-height: 66px;font-size: 30px;letter-spacing: 4px;text-align: center;+">
      资讯中心
    </div>
    <p style="width: 212px;text-align: center;margin-top: 20px;">News Center</p>
    <div style="width: 1300px;display: flex; flex-wrap:wrap; justify-content: space-between">
      <!--1-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;" *ngFor="let item of initList">
        <img [src]=imgPath+item.url style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>{{item.title}}</h1>
          <p style="margin: 4px 0;">{{item.createTime}}</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.remark}}</p>
        </div>
      </div>

    </div>
    <div>
      <pagination [disabled]="disable" [previousText]="previousText" [nextText]="nextText" [totalItems]="totalNum"
                  [rotate]="rotate" [maxSize]="5" [itemsPerPage]="pageSize" [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
