<div style="padding-bottom: 30px">
  <div style="width: 100%;display:flex;flex-direction: column;justify-content: center;align-items: center;">
    <!--固定图-->
    <div>
      <img src="../../../assets/newcenter/newcenter_01.jpg" style="width: 100%;">
    </div>
    <!---->
    <div style="width: 212px;height: 170px;height: 66px;margin-top: 30px;border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;line-height: 66px;font-size: 30px;letter-spacing: 4px;text-align: center;">
      资讯中心
    </div>
    <p style="width: 212px;text-align: center;margin-top: 20px;margin-bottom: 10px;">News Center</p>
    <div class="newcont">
      <!--1-->
      <div class="newcont_in" *ngFor="let item of initList">
        <img [src]=imgPath+item.url style="width: 100%;max-height: 240px;" class="newcont_in_img">
        <div class="newcontText">
          <h1>{{item.title}}</h1>
          <p style="margin: 4px 0;">{{item.createTime}}</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.remark}}</p>
        </div>
      </div>

    </div>
    <div>
      <pagination [disabled]="disable" [previousText]="previousText" [nextText]="nextText" [totalItems]="totalNum"
                  [rotate]="rotate" [maxSize]="5" [itemsPerPage]="pageSize" [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
