<div style="padding-bottom: 30px">
  <div style="width: 100%;display:flex;flex-direction: column;justify-content: center;align-items: center;">
    <!--固定图-->
    <div style="width: 1440px;height: 150px;background:antiquewhite;">
      <img src="../../../assets/newcenter/newcenter_01.jpg" alt="">
    </div>
    <!---->
    <div style="width: 212px;height: 170px;height: 66px;margin-top: 30px;border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;line-height: 66px;font-size: 30px;letter-spacing: 4px">
      资讯中心
    </div>
    <p style="width: 212px;text-align: center;margin-top: 20px;">News Center</p>
    <div style="width: 1300px;display: flex; flex-wrap:wrap; justify-content: space-between">
      <!--1-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_02.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
      <!--2-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_03.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
      <!--3-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_04.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
      <!--1-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_02.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
      <!--2-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_03.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
      <!--3-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_04.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
      <!--1-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_02.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
      <!--2-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_03.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
      <!--3-->
      <div style="width: 400px;height: 380px;margin-bottom: 60px;">
        <img src="../../../assets/newcenter/newcenter_04.jpg" style="width: 400px;height: 240px;">
        <div style="width: 100%;height: 140px;margin-top: -16px;text-align: left;">
          <h1>一级标题</h1>
          <p style="margin: 4px 0;">2018-07-17</p>
          <p>熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质。</p>
        </div>
      </div>
    </div>
    <div>
      <pagination [disabled]="disable" [previousText]="previousText" [nextText]="nextText" [totalItems]="totalNum"
                  [rotate]="rotate" [maxSize]="5" [itemsPerPage]="pageSize" [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
