<div class="footer-backgroup">
    <div class="left">
      <div class="footer-ul">
        <h5>关于优水</h5>
        <ul>
          <li>企业文化</li>
          <li>品牌活动</li>
          <li>媒体报道</li>
          <li>合作品牌</li>
        </ul>
      </div>
      <div class="footer-ul">
        <h5>咨讯中心</h5>
        <ul>
          <li>最新优惠</li>
          <li>合作案例</li>
          <li>用水文化</li>
        </ul>
      </div>
      <div  class="footer-ul">
        <h5>身边优水</h5>
        <ul>
          <li>人事招聘</li>
          <li>加盟管理</li>
        </ul>
      </div>
      <div class="footer-ul">
        <h5>联系我们</h5>
        <ul>
          <li>电话: 020-89850917</li>
          <li>400电话: 400-885-8203</li>
          <li>地址: 广州市黄埔区开发区开源大道11号B10栋4层</li>
          <li>Email: market@youshuidaojia.com</li>
        </ul>
      </div>
      <div class="clear-fix"></div>
    </div>
    <div class="right weixin">
      <img src="../../../assets/first/weixin.png"/>
      <span>扫一扫关注微信公众号</span>
    </div>
  <div class="clear-fix"></div>
</div>
<div class="footer-text">
  <span>Copyright @ 2017-2018 广州优水到家工程网络科技有限公司 All Right Reserved 粤ICP备17166319号-1</span>
</div>
