* {
  margin: 0;
  padding: 0;
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  .cont_top {
    width: 500px;
    //height: 666px;
    //margin-bottom: 70px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  #cont .cont_text {
    padding: 10px;
    margin-top: 16px;
  }
  #cont .cont_text h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  #cont .cont_text p {
    margin-bottom: 14px;
  }
  .isHide {
    display: none !important;
  }
  .cont_bt {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
  }
  .cont_bt div {
    width: 150px;
    height: 90px;
    margin-top: 20px;
    background: #E2CEB7;
  }
  .cont_more {
    width: 212px;
    height: 170px;
    height: 66px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #0099FF;
    border-top: 2px solid #0099FF;
    color: #0099FF;
    line-height: 66px;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
  }
  .rich_text {
    width: 100%;
    //height: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .rich_text_all {
    //width: 100%;
    width: 320px;
    text-align: center;
  }
  .rich_text_top {
    margin-bottom: 10px;
  }
  .rich_text_bt_head {
    text-align: left;
  }
  .rich_textarea {
    height: 110px;
    resize: none;
  }
}

/* 小屏幕（平板，大于等于 500px） */
@media (max-width: 500px) {
  .cont_top {
    width: 100%;
    //height: 666px;
    //margin-bottom: 70px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  #cont .cont_img {
    width: 100%;
    height: 100%;
    border: solid 2px gray;
  }
  #cont .cont_text {
    padding: 10px;
    //margin-top: -114px;
  }
  #cont .cont_text h1 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
  }
  #cont .cont_text p {
    margin-bottom: 10px;
  }
  .isHide {
    display: none !important;
  }
  .cont_more {
    width: 212px;
    height: 170px;
    height: 66px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #0099FF;
    border-top: 2px solid #0099FF;
    color: #0099FF;
    line-height: 66px;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
  }
  .cont_bt {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
  }
  .cont_bt div {
    width: 150px;
    height: 90px;
    margin-top: 20px;
    background: #E2CEB7;
  }
  .cont_more {
    width: 212px;
    height: 170px;
    height: 66px;
    margin-top: 20px;
    border-bottom: 2px solid #0099FF;
    border-top: 2px solid #0099FF;
    color: #0099FF;
    line-height: 66px;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
  }
  .rich_text_bt_head {
    text-align: left;
  }
  .rich_text {
    width: 100%;
    //height: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .rich_text_all {
    //width: 100%;
    width: 320px;
    text-align: center;
  }
  .rich_text_top {
    margin-bottom: 10px;
  }
  .rich_textarea {
    height: 110px;
    resize: none;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 769px) and (max-width: 999px) {
  .cont_top {
    width: 500px;
    //height: 666px;
    //margin-bottom: 70px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  #cont .cont_img {
    width: 500px;
    border: solid 2px gray;
  }
  #cont .cont_text {
    width: 500px;
    height: 100%;
    padding: 10px;
    margin-top: 20px;
  }
  #cont .cont_textin {
    padding-left: 0px;
    text-align: left
  }
  #cont .cont_textinA {
    padding-right: 40px;
    text-align: left
  }
  #cont .cont_text h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  #cont .cont_text p {
    margin-bottom: 20px;
  }
  .isHide {
    display: none !important;
  }
  .cont_bt {
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
  }
  .cont_bt div {
    width: 200px;
    height: 120px;
    margin-top: 20px;
    background: #E2CEB7;
  }
  .cont_more {
    width: 212px;
    height: 170px;
    height: 66px;
    margin-top: 60px;
    border-bottom: 2px solid #0099FF;
    border-top: 2px solid #0099FF;
    color: #0099FF;
    line-height: 66px;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
  }
  .rich_text {
    width: 640px;
    //height: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rich_text_all {
    //width: 100%;
    width: 320px;
  }
  .rich_text_top {
    margin-bottom: 10px;
  }
  .rich_text_bt_head {
    text-align: left;
  }
  .rich_textarea {
    height: 110px;
    resize: none;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1000px) {
  .cont_top {
    width: 1000px;
    height: 333px;
    margin-bottom: 70px;
    margin-top: 40px;
    display: flex;
  }
  #cont .cont_text {
    width: 500px;
    height: 100%;
  }
  #cont .cont_textin {
    padding: 0 40px;
    text-align: left
  }
  #cont .cont_textinA {
    padding-right: 40px;
    text-align: left
  }
  .isShow {
    display: none !important;
  }
  .cont_bt {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cont_bt div {
    width: 300px;
    height: 180px;
    margin-top: 56px;
    background: #E2CEB7;
  }
  #cont .cont_img {
    width: 500px;
    height: 100%;
    border: solid 2px gray;
  }
  .cont_more {
    width: 212px;
    height: 170px;
    height: 66px;
    margin-top: 60px;
    border-bottom: 2px solid #0099FF;
    border-top: 2px solid #0099FF;
    color: #0099FF;
    line-height: 66px;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
  }

  .rich_text {
    width: 1000px;
    //height: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rich_text_all {
    //width: 50%;
    width: 320px;
  }
  .rich_text_top {
    margin-bottom: 10px;
  }
  .rich_textarea {
    height: 110px;
    resize: none;
  }
  .rich_text_bt_head {
    text-align: left;
  }
}
.cont_img:hover {
  //box-shadow: -5px 5px 14px 3px rgba(130, 130, 130, 1);
  //box-shadow: -5px 5px 15px 1px rgba(130, 130, 130, 1);
}
.cont_img2:hover {
  //box-shadow: -5px 5px 14px 3px rgba(130, 130, 130, 1);

  //box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}
.cont_bt div:hover {
  //box-shadow: -5px 5px 14px 3px rgba(130, 130, 130, 1);

  //box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}
.hoverShadow:hover {
  //box-shadow: -5px 5px 14px 3px rgba(130, 130, 130, 1);
  cursor: pointer;
}
.content {
  display: inline;
  //margin: 0 auto;
  //width: 900px;
  //height: 680px;
  //display: table;
}

.content-fc-fb {
  margin-top: -4px;
  width: 600px;
  height: 300px;
}

.fb {
  float: left;
  width: 300px;
  height: 300px;
  background: gainsboro;
}

.fb-text {
  width: 300px;
  height: 80px;
  line-height: 80px;
  background-color: white;
  text-align: center;
  color: black;
  font-size: 30px;
}

.fc {
  float: left;
  width: 300px;
  height: 300px;
  background: grey;
}

.fc-text {
  width: 300px;
  height: 80px;
  line-height: 80px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 30px;
}

.animated {
  animate-duration: 4s; //动画持续时间
  animate-delay: 4s;
}
