<div style="padding-bottom: 30px">
  <div style="width: 100%;display:flex;flex-direction: column;justify-content: center;align-items: center;" id="cont">
    <!--固定图-->
    <div>
      <img src="../../../assets/operation/operation_02.jpg" style="width: 100%;">
    </div>

    <div style="width: 212px;height: 170px;height: 66px;margin-top: 30px;border-bottom: 2px solid #0099FF;
    border-top: 2px solid #0099FF;line-height: 66px;font-size: 30px;letter-spacing: 4px;text-align: center;color: #0099FF"
         class="animated bounceIn">
      合作案例
    </div>
    <p style="width: 212px;text-align: center;margin-top: 20px;color: #0099FF">Case of cooperation</p>
    <!--1-->
    <div class="cont_top">
      <div class="cont_img">
        <img src="../../../assets/operation/operation_05.jpg" style="width: 100%;">
      </div>
      <div class="cont_text">
        <div class="cont_textin animated bounceInRight">
          <h1>保利物业——熊猫仓</h1>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质，打造幸福社区。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优水到家联合保利熊猫仓，在广州各个保利社区铺设优水盒子超过100台，为保利社区住户带去健康便利的优水生活。同时也符合为社区生活带来“品质生活，幸福满仓”的崭新改变。</p>
        </div>
      </div>
    </div>
    <!--2-->
    <div class="cont_top isShow">
      <div class="cont_img">
        <img src="../../../assets/operation/operation_05.jpg" style="width: 100%;">
      </div>
      <div class="cont_text">
        <div class="cont_textin animated bounceInRight">
          <h1>雅居乐物业——雅生活</h1>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;熊猫仓是保利物业旗下社区增值服务平台，为社区提供生活、资产、财富等全方位增值服务。致力将高品质、个性化的增值服务送入社区，提升社区生活品质，打造幸福社区。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优水到家联合保利熊猫仓，在广州各个保利社区铺设优水盒子超过100台，为保利社区住户带去健康便利的优水生活。同时也符合为社区生活带来“品质生活，幸福满仓”的崭新改变。</p>
        </div>
      </div>
    </div>
    <div style="width: 1000px;height: 333px;margin-bottom: 70px;display: flex;" class="isHide">
      <div style="width: 500px;height: 100%;padding: 10px;">
        <div style="padding-right: 40px;text-align: left" class="animated bounceInLeft">
          <h1 style="margin-bottom: 30px;font-size: 32px;">雅居乐物业——雅生活</h1>
          <p style="margin-bottom: 30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“人是雅居乐关注的核心，雅居乐不仅要盖好房子，更希望全方位呵护业主的一生。”作为雅居乐集团“以地产为主，多元业务并行”战略规划下的首个产业集团，雅生活集团竭诚为业主提供全面的居家生活解决方案。</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优水到家与雅生活形成深度的合作关系，希望以此次合作为纽带，在用户服务，社区新零售及更广阔领域开展合作，实现共同做大做强，达到双赢。</p>
        </div>
      </div>
      <div style="width: 500px;height: 333px;" class="cont_img2">
        <img src="../../../assets/operation/operation_13.jpg" style="width: 500px;">
      </div>
    </div>

    <!--<div-->
    <!--style="width: 140px;height: 40px;border: 1px solid #666666;border-radius: 3px;line-height: 40px;text-align: center;" class="hoverShadow">-->
    <!--查看更多-->
    <!--</div>-->
    <!--更多合作-->
    <div class="cont_more">更多合作
    </div>
    <div class="cont_bt">
      <div><img
        src="../../../assets/operation/operation_13.jpg" style="width: 100%;"></div>
      <div><img
        src="../../../assets/operation/operation_15.jpg" style="width: 100%;"></div>
      <div><img
        src="../../../assets/operation/operation_17.jpg" style="width: 100%;"></div>
      <div><img
        src="../../../assets/operation/operation_22.jpg" style="width: 100%;"></div>
      <div><img
        src="../../../assets/operation/operation_24.jpg" style="width: 100%;"></div>
      <div><img
        src="../../../assets/operation/operation_26.jpg" style="width: 100%;"></div>
    </div>
    <div class="cont_more">联系我们
    </div>
    <p style="width: 212px;text-align: center;margin-top: 20px;margin-bottom: 30px;color: #0099FF;">Contact Us</p>
    <!--富文本-->
  </div>
  <div class="rich_text">
    <div class="rich_text_all">
      <div class="rich_text_top">
        <div>您的姓名(必填)<span style="color: red">*</span>:</div>
        <input type="text" style="width: 176px;height: 26px;" [(ngModel)]="userName" name="userName">
      </div>
      <div class="rich_text_top">
        <div>您的邮箱(必填)<span style="color: red">*</span>:</div>
        <input type="text" style="width: 176px;height: 26px;" [(ngModel)]="userEmail" name="userEmail">
      </div>
      <div class="rich_text_top">
        <div>您的手机(必填)<span style="color: red">*</span>:</div>
        <input type="text" style="width: 176px;height: 26px;" [(ngModel)]="userPhone" name="userPhone">
      </div>
    </div>

    <div class="rich_text_all">
      <div class="rich_text_bt_head">内容:</div>
      <!--富文本框-->
      <textarea name="txt" cols="50" rows="5" class="rich_textarea" style="width: 320px;"
                [(ngModel)]="userContent" name="userContent"></textarea>
      <!--<textarea name="txt" clos=",50" rows="5" warp="virtual"></textarea>-->
      <div style="width: 100%;">
        <div (click)="leaveMessage()"
             style="width: 144px;height: 28px;background: #4cc0e7;line-height: 28px;text-align: center;color:white;margin: auto;"
             class="hoverShadow">
          提交
        </div>
      </div>
    </div>

  </div>
</div>
